:root {
  /* --color-1: #0b1026; */
  --color-1: #060606;
  --color-2: #a6a7b3;
  --text-color: #fff;
}

.mouse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid silver;
  pointer-events: none;
  z-index: 100;
}
